<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="../fragments/header :: header-css"/>
</head>
<body>
<div th:replace="../fragments/header :: header"/>
<div>
    <body>
    <h1 style="background : coral">There is some problem, please try again later.</h1>
    </body>
</div>
<div th:replace="../fragments/footer :: footer"/>
</body>
</html>
